beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
dlib==20.0.0
docopt==0.6.2
face-recognition==1.3.0
face_recognition_models==0.3.0
idna==3.10
Js2Py==0.74
numpy==2.2.6
opencv-python==4.11.0.86
packaging==25.0
pillow==11.2.1
pipwin==0.5.2
pyjsparser==2.7.1
PyPrind==2.11.3
pySmartDL==1.3.4
requests==2.32.4
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.4.0
